<div class="palette">
    Selected Color
    <Swatch
        @shade={{this.selectedColor}}
        @size="m"
        data-test-swatch-selected={{this.selectedColor}}
     />
    {{#each this.colorOptions as |option|}}
        <Swatch
            @shade={{option}}
            @size="s"
            data-test-swatch={{option}}
            {{on "click" (fn this.updateSelectedColor option)}}
        />
    {{/each}}
</div>