<div class="palette" data-test-animation-palette ...attributes>
    Selected Color
    <Swatch
        @shade={{@selectedColor}}
        @size="m"
        data-test-swatch-selected={{@selectedColor}}
     />
    {{#each @colorOptions as |option|}}
        <Swatch
            @shade={{option}}
            @size="s"
            data-test-swatch={{option}}
            {{on "click" (fn @updateSelectedColor option)}}
        />
    {{/each}}
</div>