<div class="flex">
  <Frame
    @pixels={{@pixels}}
    @selectedColor={{this.selectedColor}}
  />
  <Palette
    @colorOptions={{@colorOptions}}
    @selectedColor={{this.selectedColor}}
    @updateSelectedColor={{this.updateSelectedColor}}
  />
</div>